body{
		font-family: '微软雅黑';white-space:nowrap;overflow-x:visible;
		color:#666666;
		overflow:auto;
		/*background-color: #f3f3f3;*/
		/*text-align: center;*/
	}
	.body2{
		
		width: 1616px;
/*		display: inline-block;*/
		margin:0 auto 0 auto;
	}
	.middle{
		margin: auto 206px auto 206px;


	}
	.flood{
		margin-top: 0px;
		margin-bottom: 0px;
		background-color: #2c3339;
		color: #a2a4a5;
	}
	.flood>div>ul>li>a{
		color: #a2a4a5;
	}
	.flood>div>ul>li>a:hover{
		color: #a2a4a5;
		text-decoration:underline;
	}
	.top{
		background-color: #f3f3f3;
		margin-top: 0px;
		line-height: 36px;
		display: flex;
		font-size: 12px; 
	}
	.top_left{
		margin-left: 206px;
	}
	.top_right{
		margin:auto 205px auto auto;

	}
	.top_look{
		color: #39a030;
	}
	.top_2{
		height: 22px;
		display: inline-block;
		width: 100%;
		margin: 31px 0 37px 0;
/* 		float:left; */

	}
	.top2_EDU{
		background-image: url("http://odqrz0v3j.bkt.clouddn.com/img.png");
		background-repeat: no-repeat;
		background-position: 0 0px;
		height: 22px;
		width: 235px;
		float: left;
	}
	.top2_guanzhu{
		width: 54px;
		background-color: #39a030;
		float: left;
		line-height: 22px;
		margin-left: 30px;
		border-radius:3px;
		color: white;
		text-align:center;
	}
	.top2_guanzhu>a{
	color: white;
	}
	.top2_guanzhu>a:hover{
	color: white;
}
	.top2_fans {
		line-height: 22px;
		margin-left: 14px;
	}
	.top2_liebiao{
		float: right;
	}
	.top_2>*{
		display: inline-block;
	}
	.top2_ul{
		text-align: center;
		height: 22px;
		line-height: 22px;

	}
	.top2_ul>li{
	display: inline-block;margin: auto 54px -6px auto;
	}
/* 	.top2_ul>li> */
	a:hover{
	color: #39a030;
	}
	.top2_sousuo{
	background-image: url("http://odqrz0v3j.bkt.clouddn.com/img.png");
	background-repeat: no-repeat;
	background-position: 0 -123px;
	height: 18px;
	width: 18px;	
	
	}
	.top2_ul>li.top2_ssli{
	display: inline-block;margin: auto 29px -6px auto;
	}
	.lunbo{
	height: 460px;
	}
	.sanlie{
	
	margin:61px 0 61px 0;
	}
	.sanlie ul{

	}
	.sanlie ul li{
	display: inline-block;
	width: 341px;
	
	height: 175px;
	white-space:pre-wrap;
	}
	.top2_li{
	margin: 2px 15px 2px 0px; 
	}
	.sanlie_flex{
	display: flex;
	justify-content:space-between;
	line-height: 24px;
	}
	.first{
	flex-graw:1;
	}
	.mid{
	flex-graw:1;    
	}
	.thrid{
	flex-graw:1;
	}
	.sanlie_bgimg{
		background-image: url("http://odqrz0v3j.bkt.clouddn.com/img.png");
		background-repeat: no-repeat;
		height: 80px;
		width: 80px;	
		float: left;
		margin-right: 20px;
	}
	.bgfirst{
		background-position: 0 -43px;
	}
	.bgmid{
		background-position: -80px -43px;
	}
	.bgthrid{
		background-position: -160px -43px;
	}
	.bgright{
		overflow: hidden;
	}
	h3{
		font-size: 21px;
		color: #333333;
	}
	.h3p{
		font-size: 14px;
		margin: 20px auto 20px auto;
		margin-left: 100px;
	}
	.sanlie_flex>*>a{
		margin-left: 100px;
		color: #39a030;
	}
	.sanlie_flex>*>a:hover{
		text-decoration:underline;
	}
	.fiveimg{
		margin: auto 0px 80px 0px;
		display: flex;
		justify-content:space-between;

	}
	.fivehw{
		/*width: 322px;
		height: 224px;*/
		background-color: #f8f8f8;
		background-image: url("http://odqrz0v3j.bkt.clouddn.com/five.png");
		background-repeat: no-repeat;
		width: 320px;	
		height: 220px;
		padding: 2px 1px 2px 1px;
	}
	.five2{
		background-position: -323px 0px;
	}
	.five3{
		background-position: -648px 0px;
	}
	.five4{
		background-position: -975px 0px;
	}
	.five5{
		background-position: -1297px 0px;
	}	
	.prod_design{
		width: 200px;
		height: 50px;
		background-color: #39a030;
/*		display: inline-block;*/
		float: left;
		box-shadow:1px 2px 1px 1px #d4d3d3;
	}
	.prog_language{
		width: 200px;
		height: 50px;
		/*display: inline-block;*/
		background-color:white;
		float: left;
		box-shadow:1px 2px 1px 1px #d4d3d3;
	}
	.bgc{
		background-color:#f3f3f3;
		margin-left: 0px;
		/*height: 1470px;*/
	}
	.ajx{
		display: block;
		position:relative;
/* 		height: 1420px; */
		
	}
	.lunbo{
		position:relative;
		/*background-image: url("img/轮播.jpg");*/
	}
	.lunbo_dian{
		position:absolute;
		width:69px; 
        height:10px; 
        right: 50%;
        bottom:30px;
        transform: translate(50%,50%);

	}
	span{
		float: left;
        border-radius:10px;
        width:10px; 
        height:10px; 
        background-color: white;
        display: block;
        margin:0 6.5px;
        bottom: 10px;
        right: 13px; 
        /*position:absolute;*/
        cursor:pointer;
        z-index: 1;
	}
	span:hover{
        background-color: black;
    }
    span:checked{
        background-color: white;
    }
    span:last-of-type{
        right: 0px;
    }
	#d{
		z-index: 0;
	}
	.bianse{
		background-color: black;
	}
	.wuse{
		background-color: white;
	}
	.midtop{
		height: 50px;
	}
	.midclass{
		margin: 80px 0px 0px 0px;
		max-width: 1000px;
		min-height: 1400px;
	/* 	padding-bottom: 120px; */
	}
	.oneclass{
		width: 225px;
		height: 228px;
		background-color: white;
		/* display: inline-block; */
		float: left;
		margin-right: 16px;
		box-shadow:1px 2px 0px 1px #f1f1f1;
		margin-bottom: 20px;
	}
	.occenter{
		padding: 1px;
	}
	.onep1{
		margin-top: 10px;
		font-size: 12px;
		overflow: hidden;
		text-overflow:ellipsis;
	}
	.onep2{
		margin-top: 10px;
		color: #bbb;
	}
	.onepeople{
		margin-top: 10px;
		background-image: url(http://odqrz0v3j.bkt.clouddn.com/img.png); 
		display:inline-block;
		/* width: auto; */
		border:1px solid #ddd;
		border-radius:2px;
		height: 18px;
		background-repeat: no-repeat;
		background-position: -54px -22px;
	}
	.onemoney{
		margin-top: 10px;
		font-size: 11px;
		color: #ff3f00;
		font-weight: bold;
	}
	.onepeople>p{
		/*vertical-align:center;*/
		margin-left: 15px;
		padding: 2px 4px 0 4px;
		font-size: 8px;
		color: #bbb;
		/*margin: auto 4px auto 18px;*/
	}
	.onefod{
		margin-left: 4px;
	}
	.midp{
		font-size: 19px;
		text-align: center;
		vertical-align:center;
		line-height: 50px;
	}
	.prod_design>a{
		color: white;
	}
	.prog_language{
		color: black;
	}
	.pages{
	height: 20px;
	width: 302px;
	/* background-color: #f3f3f3; */
	bottom: 120px;
	right: 255px;
	position: absolute;
	line-height: 20px;
	text-align:center;
	font: bold;
	}
	.pgsl{
	height: 20px;
	width: 20px;
	float: left;
	margin: 0px 4px;
	cursor:pointer;
	/* padding: 0px 7px 0px 6px; */
	}
	.pgsl1{
	width: 30px;
	height: 20px;
	float: left;
	margin: 0px 4px;
	cursor:pointer;
	}
	.pgsl:hover,.pgsl1:hover{
		background-color: #9dd8b1;
		color: white;
	}
	.pgc{
	color: #9dd8b1;	
	}